# Base de datos PostgreSQL
POSTGRES_DB=joomla_db
POSTGRES_USER=joomla_user
POSTGRES_PASSWORD=CambiarEstaClave_2026

# Configuración de Joomla (conexión a la base de datos)
JOOMLA_DB_TYPE=pgsql
JOOMLA_DB_HOST=database
JOOMLA_DB_PORT=5432
JOOMLA_DB_NAME=joomla_db
JOOMLA_DB_USER=joomla_user
JOOMLA_DB_PASSWORD=CambiarEstaClave_2026

# Configuración de Joomla (instalación automática)
JOOMLA_SITE_NAME=Portal Parcial Comunicaciones
JOOMLA_ADMIN_USER=Duvan
JOOMLA_ADMIN_USERNAME=duvan
JOOMLA_ADMIN_PASSWORD=Parcial_Comunicaciones02
JOOMLA_ADMIN_EMAIL=duvancitopenagos@gmail.com

# Configuración de Jupyter
JUPYTER_TOKEN=parcial2026

# Configuración de Grafana
GRAFANA_ADMIN_USER=duvan
GRAFANA_ADMIN_PASSWORD=Parcial_Comunicaciones02